# Dependencies
node_modules

# Next.js build output
.next
out

# Environment variables
.env.local
.env

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Misc
.cache
.vercel
.env*.local
scripts/firebase-service-account.json
scripts/.cache-tabs-lyricist.json

# Firebase
.firebase/

#audit doc
*audit.md
*INVESTIGATION.md
*-firebase-adminsdk-*.json
*SUMMARY.md